<div class="ui-grid-row"> 
		<div class="ui-g-12 ui-sm-12" style="padding: 15px;">
			
			<p-tabView (onChange)="onTabChange($event)"> 
			 	<p-tabPanel header="{{'COMMON.WARD_LIST' |translate}}">
			    	<div *ngIf="activeTab == 0" class="ui-grid-row">
				        <app-reference-details [canSave]="permitSave(null, 'Room and Beds Config')" (referenceSaveEvent)="onReferenceSaved($event)"></app-reference-details>
				        <br/> 
						<app-reference-list [canView]="permitView('Room and Beds Config')" [canDelete]="permitDelete('Room and Beds Config')" 
							(referenceIdEvent)="onReferenceSelected($event, 'Ward')"></app-reference-list>
				    </div>
			    </p-tabPanel>
			    <p-tabPanel header="{{'COMMON.BED_CATEGORY_LIST' |translate}}" class="ui-grid-row">
			    	<div *ngIf="activeTab == 1">
				        <app-reference-details [canSave]="permitSave(null, 'Room and Beds Config')" (referenceSaveEvent)="onReferenceSaved($event)"></app-reference-details>
				        <br/> 
						<app-reference-list [canView]="permitView('Room and Beds Config')" [canDelete]="permitDelete('Room and Beds Config')" 
							(referenceIdEvent)="onReferenceSelected($event, 'Category')"></app-reference-list>
				    </div>
			    </p-tabPanel>
			    <p-tabPanel header="{{'COMMON.BUILDING_LIST' |translate}}" class="ui-grid-row">
			    	<div *ngIf="activeTab == 2">
				        <app-reference-details [canSave]="permitSave(null, 'Room and Beds Config')" (referenceSaveEvent)="onReferenceSaved($event)"></app-reference-details>
				        <br/> 
						<app-reference-list [canView]="permitView('Room and Beds Config')" [canDelete]="permitDelete('Room and Beds Config')"
							(referenceIdEvent)="onReferenceSelected($event, 'Building')"></app-reference-list>
				    </div>
			    </p-tabPanel>
			    <p-tabPanel header="{{'COMMON.FLOOR_LIST' |translate}}">
			    	<div *ngIf="activeTab == 3" class="ui-grid-row">
				        <app-floor-details (floorSaveEvent)="onFloorSaved($event)"></app-floor-details>
				        <br/> 
				        <app-floor-list (floorIdEvent)="onFloorSelected($event)"></app-floor-list>
				    </div>
			    </p-tabPanel>
			     <p-tabPanel header="{{'COMMON.ROOM_LIST' |translate}}">
			    	<div *ngIf="activeTab == 4" class="ui-grid-row">
				        <app-room-details (roomSaveEvent)="onRoomSaved($event)"></app-room-details>
				        <br/> 
				        <app-room-list (roomIdEvent)="onRoomSelected($event)"></app-room-list>
				    </div>
			    </p-tabPanel>
			    <p-tabPanel header="{{'COMMON.BED_LIST' |translate}}">
			    	<div *ngIf="activeTab == 5" class="ui-grid-row">
				        <app-bed-details (bedSaveEvent)="onBedSaved($event)"></app-bed-details>
				        <br/> 
				        <app-bed-list (bedIdEvent)="onBedSelected($event)"></app-bed-list>
				    </div>
			    </p-tabPanel>
			</p-tabView>
		</div>

	</div>
 
