<div class="ui-g-12 ui-sm-12" style="padding: 15px;">
	<form name="form" (ngSubmit)="f.form.valid && search()" #f="ngForm" validate>
		<p-fieldset legend="{{ 'COMMON.SEARCH_CRITERIA' | translate }}">
			<div class="ui-grid-row">
				<div class="ui-grid-col-1 ui-sm-24">
					<div class="form-group">
						<label for="admissionId">{{ 'COMMON.ADMISSION_NUMBER' | translate }}</label> 
						<input type="text" pInputText class="form-control" id="admissionId" size="10"
							[(ngModel)]="searchCriteria.admissionId" name="admissionId" >
					</div>
				</div>
				<div class="ui-grid-col-2 ui-sm-12">
					<div class="form-group">
						<label for="admissionDate">{{ 'COMMON.ADMISSION_DATE' | translate }}</label> 
						<p-calendar [(ngModel)]="searchCriteria.admissionDate" id="admissionDate"
									name="admissionDate" #admissionDate="ngModel"></p-calendar>
					</div>
				</div>
				<div class="ui-grid-col-1 ui-sm-12">
					<div class="form-group">
						<label for="patientId">{{ 'COMMON.PATIENT_ID' | translate }}:</label> 
						<input type="text" pInputText class="form-control" id="medicalRecordNumber"
							 [(ngModel)]="searchCriteria.medicalRecordNumber" name="medicalRecordNumber" >
					</div>
				</div>
				<div class="ui-grid-col-2 ui-sm-12">
					<div class="form-group">
						<label for="lastName">{{ 'COMMON.LAST_NAME' | translate }}:</label> 
						<input type="text" pInputText class="form-control" id="lastName"
							 [(ngModel)]="searchCriteria.lastName" name="lastName" >
					</div>
				</div>
				<div class="ui-grid-col-2 ui-sm-12">
					<div class="form-group">
						<label for="firstName">{{ 'COMMON.FIRST_NAME' | translate }}:</label> 
						<input type="text" pInputText class="form-control" id="firstName"
							 [(ngModel)]="searchCriteria.firstName" name="firstName">
					</div>
				</div>
				<div class="ui-grid-col-2 ui-sm-12">
					<div class="form-group">
						<label for="birthDate">{{ 'COMMON.BIRTH_DATE' | translate }}:</label> 
						<p-calendar [(ngModel)]="searchCriteria.birthDate" id="birthDate" monthNavigator="true" 
                            yearNavigator="true" yearRange="1940:2050" name="birthDate" #birthDate="ngModel" date></p-calendar>
					</div>
				</div>
			</div>
		<div class="ui-grid-row">
			<div class="ui-grid-col-1 ui-sm-12">
				<button pButton icon="fa fa-search" label="{{ 'COMMON.SEARCH' | translate }}"></button>
			</div>
		</div>
		</p-fieldset>
	 </form>
	<br/>
	<br/>
	<p-table [columns]="cols" [value]="admissions">
		<ng-template pTemplate="caption">
			{{ 'COMMON.ADMISSION_LIST' | translate }}
		</ng-template>
		<ng-template pTemplate="header" let-columns>
			<tr>
				<th *ngFor="let col of columns" [pSortableColumn]="col.field" [ngStyle]="col.style">
					{{col.header}}
					<span *ngIf="col.type == 'date_time'">
						({{globalEventsManager.DATE_TIME_FORMAT}})
					</span>
					<p-sortIcon [field]="col.field"></p-sortIcon>
				</th>
				<th>Action</th>
			</tr>
		</ng-template>
		<ng-template pTemplate="body" let-rowData let-columns="columns">
			<tr>
                <td *ngFor="let col of columns">
                    <div *ngIf="col.type != 'date_time'">
                        {{rowData[col.field]}}
                    </div>
                    <div *ngIf="col.type == 'date_time'">
                        {{rowData[col.field] | date: globalEventsManager.DATE_TIME_FORMAT}}
                    </div>
                </td>
                <td align="justify">
					<button type="button" pButton icon="fa fa-edit"	(click)="edit(rowData.id)" *ngIf="permitView('Admission List')" title="{{ 'COMMON.EDIT' | translate }}"></button> 
					&nbsp;&nbsp;
					<button class="ui-button-rounded" type="button" pButton icon="fa fa-check"
						(click)="redirectToOrigialPage(rowData)" title="{{ 'COMMON.SELECT' | translate }}"
						*ngIf="this.originalPage !== undefined"></button>
					&nbsp;&nbsp;
                    <button type="button"  class="ui-button-rounded ui-button-warning" pButton icon="fa fa-eraser" (click)="deleteItem(admissions, rowData.id, 'Admission')" title="{{ 'COMMON.DELETE' | translate }}"></button>
                </td>
            </tr>
		</ng-template>
		<ng-template pTemplate="summary">
			<tr>
				<td width="10%">
					Total
				</td>
				<td>
					{{admissions.length}}
				</td>
			</tr>
		</ng-template>
	</p-table>
</div>
 
