<div class="ui-g-12 ui-sm-12" style="padding: 15px;">
  <p-tabView (onChange)="onTabChange($event)">
    <p-tabPanel header="{{ 'COMMON.DETAILS' | translate }}" *ngIf="checkPermission('PATIENT_ADD_DETAILS')">
      <div *ngIf="activeTab == 0">
        <app-patient-details></app-patient-details>
      </div>
    </p-tabPanel>
    <p-tabPanel header="{{ 'COMMON.APPOINTMENT' | translate }}" *ngIf="patient.id > 0 && checkPermission('PATIENT_ADD_DETAILS')">
      <div *ngIf="activeTab == 1">
        <app-appointment-details (aptSavedEvent)="onAptSaved($event)"></app-appointment-details>
        <br />
        <br />
        <app-appointment-list (appointmentIdEvent)="onAppointmentSelected($event)"></app-appointment-list>
      </div>
    </p-tabPanel>
    <p-tabPanel header="{{ 'COMMON.VISIT' | translate }}" *ngIf="patient.id > 0 && shoulShow">
      Visits
    </p-tabPanel>
    <p-tabPanel header="{{ 'COMMON.DIAGNOSIS' | translate }}" *ngIf="patient.id > 0 && shoulShow">
      Diagnosis
    </p-tabPanel>
    <p-tabPanel header="{{ 'COMMON.PRESCRIPTION_LIST' | translate }}" *ngIf="patient.id > 0 && shoulShow">
      Medications
    </p-tabPanel>
    <p-tabPanel header="{{ 'COMMON.RESULT' | translate }}" *ngIf="patient.id > 0 && shoulShow">
      Result/Review
    </p-tabPanel>
  </p-tabView>
</div>
