<div class="ui-grid-row">
  <p-messages [(value)]="messages"></p-messages>
  <p-dialog header="{{ 'COMMON.APPOINTMENT' | translate }}" [(visible)]="displayEdit" [width]="400">
    <div class="ui-g-12 ui-sm-12" >
      <div class="ui-grid ui-grid-responsive ui-fluid">
        <div class="ui-grid-row">
          <button *ngIf="appointment.id != null&&appointment.status===0" pButton type="button"
            label="{{'COMMON.RESERVED'|translate}}" class="ui-button-success"></button>
          <button *ngIf="appointment.id != null&&appointment.status===1" pButton type="button"
            label="{{'COMMON.CONFIRMED'|translate}}" class="ui-button-danger"></button>

          <button *ngIf="appointment.id === null||appointment.status===3" pButton type="button"
            label="{{'COMMON.AVAILABLE'|translate}}"></button>
        </div>

        <div class="ui-grid-row">
          {{ 'COMMON.DATE' | translate }}:&nbsp;&nbsp;
          <strong>{{appointment.appointmentDate | date:'MM/dd/yyyy'}}</strong>
        </div>
        <div class="ui-grid-row"> {{ 'COMMON.PERIOD' | translate }}:&nbsp;&nbsp;
          <strong>{{appointment.beginTime}} --> {{appointment.endTime}}</strong>
        </div>
        <div class="ui-grid-row"> {{ 'COMMON.DEPARTMENT' | translate }}:&nbsp;&nbsp;
          <strong>{{appointment.department.name}}</strong>
        </div>
        <div class="ui-grid-row"> {{ 'COMMON.DOCTOR' | translate }}:&nbsp;&nbsp;
          <strong>{{appointment.doctor.name}}</strong>
        </div>
        <div class="ui-grid-row">
          {{ 'COMMON.PATIENT' | translate }}:&nbsp;&nbsp;
          <strong>{{appointment.patient.name}}</strong>
        </div>
        <div class="ui-grid-row">
          <div class="form-group">
            <label for="problem">{{ 'COMMON.PROBLEM' | translate }}<font color="red">*</font></label>
            <textarea pInputTextarea id="problem" [(ngModel)]="appointment.problem" #problem="ngModel"> </textarea>
          </div>
        </div>
        <div class="ui-grid-row">
          <button type="button" pButton icon="fa fa-close" *ngIf="permitSave(appointment.id, 'Appointments')" (click)="save(3)" label="{{ 'COMMON.CANCEL' | translate }}"
            [disabled]="appointment.id == null || appointment.id <= 0 || appointment.status ===3"></button>&nbsp;&nbsp;

          <button type="button" pButton icon="fa fa-check" *ngIf="permitSave(appointment.id, 'Appointments')" (click)="save(0)" label="{{ 'COMMON.RESERVE' | translate }}"></button>
          &nbsp;&nbsp;
          <button type="button" pButton icon="fa fa-check" *ngIf="permitSave(appointment.id, 'Appointments')" (click)="save(1)" label="{{ 'COMMON.CONFIRM' | translate }}"
            [disabled]="appointment.id != null && appointment.status === 1"></button>

        </div>
      </div>

    </div>
  </p-dialog>
  <div class="ui-g-12 ui-sm-12" style="padding: 10px;">
    <div class="ui-grid-row">
      <div class="ui-grid-col-4 ui-sm-12">
        <app-patient-lookup (patientEmit)="lookUpPatient($event)" [originalPage]="'admin/appointmentScheduler'"
          [patient]="appointment.patient"></app-patient-lookup>
      </div>
      <div class="ui-grid-col-8 ui-sm-12">
        <div class="ui-grid-row">
          <div class="ui-grid-col-4 ui-sm-12">
            <div class="form-group">
              <label for="location">{{ 'COMMON.LOCATION' | translate }}</label>
              <p-autoComplete [(ngModel)]="appointment.hospitalLocation"
                (onDropdownClick)="hospitalLocationDropdown.handleDropdownClick($event)"
                [suggestions]="hospitalLocationDropdown.filteredLocations" [dropdown]="true" id="location"
                (completeMethod)="hospitalLocationDropdown.filter($event)" name="location" field="name" placeholder=""
                [minLength]="1"></p-autoComplete>
            </div>
          </div>
          <div class="ui-grid-col-4 ui-sm-12">
            <div class="form-group">
              <label for="department">{{ 'COMMON.DEPARTMENT' | translate }}</label>
              <p-autoComplete [(ngModel)]="appointment.department"
                (onDropdownClick)="departmentDropdown.handleDropdownClick($event)"
                [suggestions]="departmentDropdown.filteredDepartments" [dropdown]="true" id="department"
                (completeMethod)="departmentDropdown.filter($event)" name="department" field="name" placeholder=""
                [minLength]="1"></p-autoComplete>
            </div>
          </div>
          <div class="ui-grid-col-3 ui-sm-12">
            <div class="form-group">
              <label for="doctor">{{'COMMON.DOCTOR'|translate}}<font color="red">*</font></label>
              <p-autoComplete [(ngModel)]="appointment.doctor"
                (onSelect)="appointment.department = appointment.doctor.department"
                (onDropdownClick)="doctorDropdown.handleDropdownClick($event)"
                [suggestions]="doctorDropdown.filteredDoctors" [dropdown]="true" id="doctor" size="15"
                (completeMethod)="doctorDropdown.filter($event)" name="doctor" field="name" placeholder=""
                [minLength]="1"></p-autoComplete>
            </div>

          </div>
          <div class="ui-grid-col-1 ui-sm-12">
            <br />
            <button type="button" pButton icon="fa fa-search" *ngIf="permitView('Appointments')" 
                (click)="getAppointments()" label="Go"></button></div>
        </div>
      </div>
    </div>

    {{'COMMON.LEGEND'|translate}}
    <button pButton type="button" label="{{'COMMON.RESERVED'|translate}}" class="ui-button-success"></button>
    <button pButton type="button" label="{{'COMMON.CONFIRMED'|translate}}" class="ui-button-danger"></button>
    <button pButton type="button" label="{{'COMMON.AVAILABLE'|translate}}"></button>
	<br/><br/>
    <p-schedule [events]="events" [header]="headerConfig" (onDayClick)="addEventClick($event)"
      (onEventClick)="editEventClick($event)"></p-schedule>

  </div>
</div>
