<form name="form" (ngSubmit)="f.form.valid" #f="ngForm" validate>
	<p-messages [(value)]="messages"></p-messages>
	<div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="contactUsMessage">

		<br />
		<p-card>
			<p-header>
				<div class="form-group">
					<br />
					<label for="name"><strong>{{ 'COMMON.NAME' | translate }}</strong>
						<font color="red">{{':  '+(contactUsMessage.name==null?'':contactUsMessage.name)}}</font>
					</label>
					<br />
					<label for="email"><strong>{{ 'COMMON.FROM_EMAIL' | translate }}</strong>
						<font color="red">{{':  '+(contactUsMessage.email==null?'':contactUsMessage.email)}}
						</font>
					</label>
					<br />
					<label for="phone"><strong>{{ 'COMMON.PHONE' | translate }}</strong>
						<font color="red">{{':  '+(contactUsMessage.phone==null?'':contactUsMessage.phone)}}
						</font>
					</label>
				</div>
				<hr/>
			</p-header>
			<div class="form-group">				
				<div [innerHTML]="contactUsMessage.message"></div>
			</div>
			<p-footer>
				<button type="button" pButton icon="fa fa-close" (click)="delete()" label="{{ 'COMMON.DELETE' | translate }}" 
				*ngIf="permitDelete('Website Config')" style="width: 25%"></button>
			</p-footer>
		</p-card>
	</div>
</form>