<div class="ui-g-12 ui-sm-12" style="padding: 15px;">
  <form name="form" (ngSubmit)="f.form.valid && search()" #f="ngForm" validate>
    <p-fieldset legend="{{'COMMON.SEARCH_CRITERIA'|translate}}">
      <p-messages [(value)]="messages"></p-messages>
      <div class="ui-grid-row">
        <div class="ui-grid-col-3 ui-sm-12">
          <div class="form-group">
            <label for="lastName">{{ 'COMMON.LAST_NAME' | translate }}</label>
            <input type="text" pInputText class="form-control" id="lastName" [(ngModel)]="searchCriteria.lastName"
              name="lastName">
          </div>
        </div>
        <div class="ui-grid-col-3 ui-sm-12">
          <div class="form-group">
            <label for="firstName">{{ 'COMMON.FIRST_NAME' | translate }}</label>
            <input type="text" pInputText class="form-control" id="firstName" [(ngModel)]="searchCriteria.firstName"
              name="firstName">
          </div>
        </div>
        <div class="ui-grid-col-3 ui-sm-12">
          <div class="form-group">
            <label for="department">{{'COMMON.DEPARTMENT'| translate }}</label>
            <br />
            <p-autoComplete [(ngModel)]="searchCriteria.department"
              (onDropdownClick)="departmentDropdown.handleDropdownClick($event)"
              [suggestions]="departmentDropdown.filteredDepartments" [dropdown]="true" id="department"
              (completeMethod)="departmentDropdown.filter($event)" name="department" field="name" [size]="30"
              placeholder="" [minLength]="1">
            </p-autoComplete>
          </div>
        </div>
        <div class="ui-grid-col-3 ui-sm-12">
			<br/> 
          <button pButton icon="fa fa-search" label="{{ 'COMMON.SEARCH' | translate }}"></button>
        </div>
      </div>
    </p-fieldset>
  </form>
  <br/>
  <p-table [columns]="cols" [value]="employees" [responsive]="true">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field" [ngStyle]="col.style">
          {{col.header}}
          <span *ngIf="col.type == 'date'">
            ({{globalEventsManager.DATE_FORMAT}})
          </span>
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
        <th>Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          <div *ngIf="col.type === 'Date'">{{rowData[col.field] | date: globalEventsManager.DATE_FORMAT}}</div>
          <div *ngIf="col.type !== 'Date'">
            <div *ngIf="col.field == 'status'">
              {{getStatusDesc(rowData)}}</div>
            <div *ngIf="col.field !== 'status'">
              {{rowData[col.field]}}</div>
          </div>
        </td>
        <td>
          <button type="button" pButton icon="fa fa-edit" (click)="edit(rowData.id)"></button>&nbsp;
          <button type="button" pButton icon="fa fa-eraser" (click)="delete(rowData.id)"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <tr>
        <td width="10%">
          Total
        </td>
        <td>
          {{employees.length}}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
