<div class="ui-g-12 ui-sm-12" style="padding: 15px;">
	<p-table [columns]="cols" [value]="packages">
		<ng-template pTemplate="caption">
			{{ 'COMMON.PACKAGE_LIST' | translate }}
		</ng-template>
	    <ng-template pTemplate="header" let-columns>
	        <tr>
	            <th *ngFor="let col of columns" [pSortableColumn]="col.field" [ngStyle]="col.style">
	                {{col.header}}
	                <p-sortIcon [field]="col.field"></p-sortIcon>
	            </th>
	            <th>Action</th>
	        </tr>
	    </ng-template>
	    <ng-template pTemplate="body" let-rowData let-columns="columns">
	        <tr>			           
	            <td *ngFor="let col of cols">
					<div *ngIf="col.type === 'number'" class="text-right">
						{{rowData[col.field] | currency: ' ':'symbol':'1.0-0':translate.currentLang}}
					</div>
					<div *ngIf="col.type === 'string'">
						{{rowData[col.field]}}
					</div>
				</td>
	            <td>
	            	<button type="button" pButton icon="fa fa-edit" (click)="edit(rowData.id)" *ngIf="permitView('Package List')"></button>&nbsp;
					<button type="button" pButton icon="fa fa-eraser" (click)="deleteItem(packages, rowData.id, 'Package')" 
							*ngIf="permitDelete('Package List')" ></button>
	            </td>
	        </tr>
	    </ng-template>
	</p-table>
</div>
