<form name="form" (ngSubmit)="f.form.valid && save()" #f="ngForm" validate>

  <p-steps *ngIf="!done" [model]="steps" [(activeIndex)]="activeIndex" [readonly]="false" styleClass="steps-custom">
  </p-steps>

  <p-card *ngIf="done" [style]="{'text-align': 'center'}">
    <p-header>
      <img class="thumb img-fluid" src="assets/images/company/check.png" style="width:100px;">
    </p-header>
    <h1>
      <font color="green">{{ 'MESSAGE.REGISTERED_WAIT' | translate }}</font>
    </h1>
    <p-footer>
      <button icon="fa fa-arrow-left" pButton type="button" *ngIf="done" (click)="newPatient()"
        label="Enregistrer un nouveau patient" class="ui-button-raised ui-button-success"
        style="margin-top: 0px; width: 100%; height: 50px;font-size: 1.85rem;"></button>
    </p-footer>
  </p-card>

  <p-card *ngIf="activeIndex===3 && !done">
    <p-header>
      <h1>{{(patient.user.firstName?patient.user.firstName:'')+' '+(patient.user.lastName?patient.user.lastName:'')}}
      </h1>
    </p-header>
    <div class="ui-grid-row">
      <h6>{{ 'COMMON.BIRTH_DATE' | translate }} : {{patient.user.birthDate|date: globalEventsManager.DATE_FORMAT}}
      </h6>
    </div>
    <div class="ui-grid-row">
      <h6>{{ 'COMMON.GENDER' | translate }} : {{patient.user.sex}}</h6>
    </div>
    <div class="ui-grid-row">
      <h6>{{ 'COMMON.REASON' | translate }} :
        <div [innerHTML]="patient.visitReason"></div>
      </h6>
    </div>
    <div class="ui-grid-row">
      <h6> {{ 'COMMON.EMERGENCY_CONTACT' | translate }} : {{patient.contact}} , {{patient.contactPhone}}
      </h6>
    </div>

    <div class="ui-grid-row">
      <h6> {{ 'COMMON.CONTACT_PHONE' | translate }} : {{patient.user.mobilePhone}}</h6>
    </div>
    <div class="ui-grid-row">
      <h1 *ngIf="patient.errors">
        <font color="red">
          {{ 'MESSAGE.SAVE_UNSUCCESS' | translate }} : {{patient.errors[0]}}
        </font>
      </h1>
    </div>

  </p-card>

  <div class="ui-grid-row" *ngIf="activeIndex===0">
    <div class="ui-grid-col-12 ui-sm-12">
      <div class="form-group">
        <label for="lastName">{{ 'COMMON.LAST_NAME' | translate }}<font color="red">*</font>:
        </label> <input type="text" pInputText class="form-control" id="lastName" required
          style="margin-top: 0px; width: 100%; height: 50px;font-size: 1.85rem;" [(ngModel)]="patient.user.lastName"
          name="lastName" #lastName="ngModel">
        <p-message *ngIf="f.submitted && lastName.invalid" severity="error"
          text="{{ 'COMMON.LAST_NAME' | translate }} {{ 'VALIDATION.IS_REQUIRED' | translate }}"></p-message>
      </div>
    </div>
    <div class="ui-grid-col-12 ui-sm-12">
      <div class="form-group">
        <label for="firstName">{{ 'COMMON.FIRST_NAME' | translate }}<font color="red">*</font>:
        </label> <input type="text" pInputText class="form-control" id="firstName" required
          style="margin-top: 0px; width: 100%; height: 50px;font-size: 1.85rem;" [(ngModel)]="patient.user.firstName"
          name="firstName" #firstName="ngModel">
        <p-message *ngIf="f.submitted && firstName.invalid" severity="error"
          text="{{ 'COMMON.FIRST_NAME' | translate }} {{ 'VALIDATION.IS_REQUIRED' | translate }}"></p-message>
      </div>
    </div>
  </div>
  <div class="ui-grid-row" *ngIf="activeIndex===0">
    <div class="ui-grid-col-6 ui-sm-12">
      <div class="form-group">
        <div class="ui-grid-row">
          <label for="sex">{{ 'COMMON.GENDER' | translate }}<font color="red">* :
              {{patient.user.sex?patient.user.sex:'-'}} </font></label>
        </div>
        <div class="ui-grid-row">

          <p-selectButton [options]="sexes" [(ngModel)]="selectedSex" optionLabel="label" (onChange)="setSex()"
            name="sex" #sex="ngModel" required>
            <ng-template let-item>
              <div style="padding: .5em 1em">
                <img style="vertical-align: middle; margin-right: .5em" src="assets/images/company/{{item.pic}}"
                  height="50px" />
                <span>{{item.label}}</span>
              </div>
            </ng-template>
          </p-selectButton>

          <p-message *ngIf="f.submitted && sex.invalid" severity="error"
            text="{{ 'COMMON.GENDER' | translate }} {{ 'VALIDATION.IS_REQUIRED' | translate }}"></p-message>
        </div>
      </div>
    </div>
  </div>
  <div class="ui-grid-row" *ngIf="activeIndex===0">
    <div class="ui-grid-col-12 ui-sm-12">
      <div class="form-group">
        <label for="birthDate">{{ 'COMMON.BIRTH_DATE' | translate }}<font color="red">*</font>:</label>
        <br />
        <p-calendar [(ngModel)]="patient.user.birthDate" id="birthDate" monthNavigator="true" yearRange="1940:2050"
          yearNavigator="true" name="birthDate" #birthDate="ngModel" required date
          dateFormat={{globalEventsManager.CAL_DATE_FORMAT}}></p-calendar>
        <p-message *ngIf="f.submitted && birthDate.errors && birthDate.errors.required" severity="error"
          text="{{ 'COMMON.BIRTH_DATE' | translate }} {{ 'VALIDATION.IS_REQUIRED' | translate }}"></p-message>
        <p-message *ngIf="f.submitted && birthDate.errors && birthDate.errors.date" severity="error"
          text="{{ 'COMMON.BIRTH_DATE' | translate }} {{ 'VALIDATION.IS_INVALID' | translate }}"></p-message>
      </div>
    </div>
  </div>



  <div class="ui-grid-row" *ngIf="activeIndex===1">
    <div class="ui-grid-col-12 ui-sm-12">
      <div class="form-group">
        <label for="medicalHistory">{{ 'COMMON.REASON' | translate }}<font color="red">*</font></label>
        <br />
        <textarea pInputTextarea id="visitReason" rows="5" maxlength="1000" [(ngModel)]="patient.visitReason"
          name="visitReason" #visitReason="ngModel" style="margin-top: 0px; width: 100%; font-size: 1.85rem;"
          required> </textarea>
        <br />
        <p-message *ngIf="failed || (f.submitted  && visitReason.invalid)" severity="error"
          text="{{ 'COMMON.REASON' | translate }} {{ 'VALIDATION.IS_REQUIRED' | translate }}"></p-message>
      </div>
    </div>
  </div>

  <div class="ui-grid-row" *ngIf="activeIndex===2">
    <div class="ui-grid-col-12 ui-sm-12">
      <div class="form-group">
        <label for="mobilePhone">{{ 'COMMON.CONTACT_PHONE' | translate }}<font color="red">*</font></label>
        <input type="text" pInputText class="form-control" id="mobilePhone" [(ngModel)]="patient.user.mobilePhone"
          name="mobilePhone" #mobilePhone="ngModel"
          style="margin-top: 0px; width: 100%; height: 50px;font-size: 1.85rem;">
        <p-message *ngIf="failed && !patient.mobilePhone ||(f.submitted && mobilePhone.invalid)" severity="error"
          text="{{ 'COMMON.CONTACT_PHONE' | translate }} {{ 'VALIDATION.IS_REQUIRED' | translate }}"></p-message>
      </div>
    </div>

    <div class="ui-grid-col-6 ui-sm-6">
      <div class="form-group">
        <label for="contact">{{ 'COMMON.EMERGENCY_CONTACT' | translate }}<font color="red">*</font></label>
        <input type="text" pInputText class="form-control" id="contact" [(ngModel)]="patient.contact" name="contact"
          #contact="ngModel" style="margin-top: 0px; width: 100%; height: 50px;font-size: 1.85rem;">
        <p-message *ngIf="failed && !patient.contact ||(f.submitted && contact.invalid)" severity="error"
          text="{{ 'COMMON.EMERGENCY_CONTACT' | translate }} {{ 'VALIDATION.IS_REQUIRED' | translate }}"></p-message>
      </div>
    </div>
    <div class="ui-grid-col-6 ui-sm-6">
      <div class="form-group">
        <label for="contactPhone">{{ 'COMMON.CONTACT_PHONE' | translate }}<font color="red">*</font></label>
        <input type="text" pInputText class="form-control" id="contactPhone" [(ngModel)]="patient.contactPhone"
          name="contactPhone" #contactPhone="ngModel"
          style="margin-top: 0px; width: 100%; height: 50px;font-size: 1.85rem;">
        <p-message *ngIf="failed && !patient.contactPhone ||(f.submitted && contactPhone.invalid)" severity="error"
          text="{{ 'COMMON.CONTACT_PHONE' | translate }} {{ 'VALIDATION.IS_REQUIRED' | translate }}"></p-message>
      </div>
    </div>

  </div>
  <button pButton type="text" (click)="button=1" icon="fa fa fa-play-circle" *ngIf="activeIndex<3"
    style="margin-top: 0px; width: 100%; height: 50px;" label="{{navigationLabel}}"></button>
  <button (click)="button=2" pButton type="submit" icon="fa fa fa-save"
    style="margin-top: 0px; width: 100%; height: 50px;"
    *ngIf="permitSave(patient.id, 'Patient Kiosk') && activeIndex===3 && !done" label="Enregistrer"></button>
  <br>
  <div *ngIf="error" class="alert alert-danger">{{error}}</div>

</form>
