
  <p-messages [(value)]="messages"></p-messages>
  <button type="button" pButton icon="fa fa-plus" (click)="addNew()"></button>
  <br/>
  <p-table [columns]="medicineCols" [value]="patientHomeMedications">
    <ng-template pTemplate="header" let-vaccineCols>
        <tr>
            <th *ngFor="let col of medicineCols" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
            <th>Action</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns" pEditableColumn>
                <p-cellEditor *ngIf="col.type === 'date'">
                    <ng-template pTemplate="input">
                        <p-calendar [(ngModel)]="rowData[col.field]"></p-calendar>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{rowData[col.field] | date:'dd/MM/yyyy'}}
                    </ng-template>
                </p-cellEditor>
                <p-cellEditor *ngIf="col.type === 'string'">
                    <ng-template pTemplate="input">
                        <input type="text" [(ngModel)]="rowData[col.field]">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{rowData[col.field]}}
                    </ng-template>
                </p-cellEditor>
                <p-cellEditor *ngIf="col.type === 'int'">
                    <ng-template pTemplate="input">
                        <input type="text" [(ngModel)]="rowData[col.field]" [disabled]="col.isDisabled" 
												currencyMask [options]=appInfoStorage.CURRENCY_MASK_INTEGER name="{{col.field}}">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{rowData[col.field] | currency: ' ':'symbol':'1.0-0':translate.currentLang}}
                    </ng-template>
                </p-cellEditor>
                <p-cellEditor *ngIf="col.field === 'medicine'">
                    <ng-template pTemplate="input">
                        <p-autoComplete [(ngModel)]="rowData[col.field]"
                            (onDropdownClick)="medicineDropdown.handleDropdownClick($event)"
                            [suggestions]="medicineDropdown.filteredMedicines" [dropdown]="true"
                            (completeMethod)="medicineDropdown.filter($event)" name="name" field="name" [size]="30"
                            placeholder="" [minLength]="1">
                        </p-autoComplete>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{rowData[col.field].name}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
              <button type="button" pButton icon="fa fa-save" (click)="save(rowData)"></button>&nbsp;&nbsp;
              <button type="button" pButton icon="fa fa-eraser" (click)="remove(patientHomeMedications.length)"></button>
            </td>
        </tr>
    </ng-template>
</p-table> 