<form name="form" (ngSubmit)="f.form.valid && save()" #f="ngForm" validate>
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="section">
        <div class="ui-grid-row">
            <div class="ui-grid-col-6 ui-sm-12">
                <div class="form-group">
                    <label for="name">{{ 'COMMON.NAME' | translate }}</label>
                    <input pInputText id="name" [(ngModel)]="section.name" name="name" #name="ngModel" required />
                    <p-message *ngIf="f.submitted && name.invalid" severity="error"
                        text="{{ 'VALIDATION.FIELD_REQUIRED' | translate }}">
                    </p-message>
                </div>
            </div>
            <div class="ui-grid-col-6 ui-sm-12">
                <div class="form-group">
                    <label for="name">{{ 'COMMON.TITLE' | translate }}</label>
                    <input pInputText id="title" [(ngModel)]="section.title" name="title" #title="ngModel" required />
                    <p-message *ngIf="f.submitted && title.invalid" severity="error"
                        text="{{ 'VALIDATION.FIELD_REQUIRED' | translate }}">
                    </p-message>
                </div>
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-6 ui-sm-12">
                <div class="form-group">
                    <label for="description">{{ 'COMMON.DESCRIPTION' | translate }}</label>
                    <textarea pInputTextarea id="description" [(ngModel)]="section.description" name="description"
                        #description="ngModel"> </textarea>
                </div>
            </div>
            <div class="ui-grid-col-1 ui-sm-12"></div>
            <div class="ui-grid-col-5 ui-sm-12">
                <label for="language">{{'COMMON.LANGUAGE' | translate}}<font color="red">*</font></label>
                <p-radioButton name="language" value="EN" label="{{'COMMON.ENGLISH' | translate}}"
                    [(ngModel)]="section.language" #language="ngModel" required></p-radioButton>
                <p-radioButton name="language" value="FR" label="{{'COMMON.FRENCH' | translate}}"
                    [(ngModel)]="section.language" #language="ngModel" required></p-radioButton>
                <p-message *ngIf="f.submitted && language.invalid" severity="error"
                    text="{{ 'VALIDATION.FIELD_REQUIRED' | translate }}">
                </p-message>
                <br />
                <p-checkbox name="showInMenu" [(ngModel)]="showInMenu" binary="true"></p-checkbox>
                &nbsp;&nbsp;<label for="showInMenu">{{'COMMON.SHOW_IN_MENU' | translate}}</label>
                <br />
                <p-radioButton name="status" value="0" label="Actif" [(ngModel)]="section.status" #status="ngModel"
                    required></p-radioButton>
                <p-radioButton name="status" value="1" label="Inactif" [(ngModel)]="section.status" #status="ngModel"
                    required></p-radioButton>
                <p-message *ngIf="f.submitted && status.invalid" severity="error"
                    text="{{ 'VALIDATION.FIELD_REQUIRED' | translate }}">
                </p-message>
            </div>
        </div>
    </div>

    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
        <button type="button" pButton icon="fa fa-close" (click)="clear()" label="{{ 'COMMON.ADD' | translate }}"></button>&nbsp;&nbsp;
        <button pButton icon="fa fa-check" label="{{ 'COMMON.SAVE' | translate }}" *ngIf="permitSave(section.id, 'Website Config')"></button>
        <p-messages [(value)]="messages"></p-messages>
    </div>

</form>