<form name="form" (ngSubmit)="f.form.valid && save()" #f="ngForm" validate>
	<p-messages [(value)]="messages"></p-messages>
	<div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="summaryTypeTemplate">
	<div class="ui-grid-row">
		<div class="ui-grid-col-3 ui-sm-12">
			<div class="form-group">
				<label for="userGroup">{{ 'COMMON.ROLE' | translate }}<font color="red">*</font></label>
				<p-autoComplete [(ngModel)]="selectedUserGroup"
					(ngModelChange)="populateSummaryTypeByRole($event)"
					(onDropdownClick)="userGroupDropdown.handleDropdownClick($event)"
					[suggestions]="userGroupDropdown.filteredUserGroups" [dropdown]="true" id="userGroup"
					(completeMethod)="userGroupDropdown.filter($event)" name="userGroup" field="name" [size]="30"
					placeholder="" [minLength]="1" #userGroup="ngModel" required>
				</p-autoComplete>
				<p-message *ngIf="f.submitted && userGroup.invalid" severity="error" text="Field is required"></p-message>
			</div>
		</div>
		<div class="ui-grid-col-3 ui-sm-12">
			<div class="form-group">
				<label for="summaryType">{{ 'COMMON.SUMMARY_TYPE' | translate }}<font color="red">*</font></label>
				<p-autoComplete [(ngModel)]="summaryTypeTemplate.summaryType"
					(onDropdownClick)="summaryTypeDropdown.handleDropdownClick($event)"
					[suggestions]="summaryTypeDropdown.filteredSummaryTypes" [dropdown]="true" id="summaryType"
					(completeMethod)="summaryTypeDropdown.filter($event)" name="summaryType" field="name" [size]="30"
					placeholder="" [minLength]="1" #summaryType="ngModel" required>
				</p-autoComplete>
				<p-message *ngIf="f.submitted && summaryType.invalid" severity="error" text="Field is required"></p-message>
			</div>
		</div>
		<div class="ui-grid-col-6 ui-sm-12">
			<div class="form-group">
				<label for="template">{{ 'COMMON.TEMPLATE' | translate }}</label>
				<p-editor name="template" id="template" [(ngModel)]="summaryTypeTemplate.template" [style]="{'height':'100px'}"></p-editor>
			</div>
		</div>
	</div>
	</div>
	<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
	<button type="button" pButton icon="fa fa-close" (click)="clear()" label="{{ 'COMMON.CLEAR' | translate }}"></button>&nbsp;&nbsp;&nbsp;&nbsp;
	<button pButton icon="fa fa-check" label="{{ 'COMMON.SAVE' | translate }}"></button>
	</div>
</form>