<form name="form" (ngSubmit)="f.form.valid && save()" #f="ngForm" validate>
  <div class="ui-g-12 ui-sm-12" style="padding: 15px;">
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="visit">

      <div class="ui-grid-row">
        <div class="ui-grid-col-5 ui-sm-12">
          <app-patient-lookup (patientEmit)="lookUpPatient($event)" [originalPage]="'admin/visitDetails'"
            [patient]="patient"></app-patient-lookup>
          <p-message *ngIf="f.submitted && !(patient.id > 0)" severity="error"
            text="{{ 'COMMON.PATIENT_ID' | translate }} {{ 'VALIDATION.IS_REQUIRED' | translate }}"></p-message>
        </div>
        <div class="ui-grid-col-7 ui-sm-12">
          <div class="ui-grid-row">
            <div class="ui-grid-col-5 ui-sm-12">
              <div class="ui-grid-row">
                {{ 'COMMON.VISIT_NUMBER' | translate }}: &nbsp;&nbsp; <strong>{{visit.id}}</strong>

              </div>
              <div class="ui-grid-row">
                {{ 'COMMON.VISIT_DATETIME' | translate }}: &nbsp;&nbsp;
                <strong>
                  <p-calendar [(ngModel)]="visit.visitDatetime" [showTime]="true" disabled="true" name="visitDatetime"
                    #visitDatetime="ngModel" required></p-calendar>
                </strong>

              </div>
            </div>
            <div class="ui-grid-col-7 ui-sm-12">
              <div class="form-group">
                <label for="chiefOfComplain">{{ 'COMMON.CHIEF_OF_COMPLAIN' | translate }}<font color="red">*</font>
                </label>
                <textarea pInputTextarea id="chiefOfComplain" rows="2" cols="40" maxlength="1000"
                  [(ngModel)]="visit.chiefOfComplain" name="chiefOfComplain" #chiefOfComplain="ngModel"
                  required> </textarea>
                <p-message *ngIf="f.submitted && chiefOfComplain.invalid" severity="error"
                  text="{{ 'COMMON.CHIEF_OF_COMPLAIN' | translate }} {{ 'VALIDATION.IS_REQUIRED' | translate }}">
                </p-message>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="ui-grid-row">
        <div class="ui-grid-col-3 ui-sm-12">
          <div class="form-group">
            <label for="doctor">{{ 'COMMON.DOCTOR' | translate }}</label>
            <p-autoComplete [(ngModel)]="visit.doctor" #doctor="ngModel" required
              (onDropdownClick)="doctorDropdown.handleDropdownClick($event)"
              [suggestions]="doctorDropdown.filteredDoctors" [dropdown]="true"
              (completeMethod)="doctorDropdown.filter($event)" name="doctorName" field="name" [size]="30" placeholder=""
              [minLength]="1">
            </p-autoComplete>
            <p-message *ngIf="f.submitted && doctor.invalid" severity="error"
              text="{{ 'COMMON.DOCTOR' | translate }} {{ 'VALIDATION.IS_REQUIRED' | translate }}"></p-message>
          </div>
        </div>
        <div class="ui-grid-col-6 ui-sm-12">
          <p-messages [(value)]="messages"></p-messages>
        </div>
      </div>
    </div>
    <p-tabView (onChange)="onTabChange($event)">
      <p-tabPanel header="{{ 'COMMON.VITAL_HISTORY' | translate }}">
        <p-tabView>
          <p-tabPanel header="{{ 'COMMON.VITAL_SIGN_LIST' | translate }}">
            <app-vitalSign-details [vitalSign]="visit.vitalSign"></app-vitalSign-details>
          </p-tabPanel>
          <p-tabPanel header="{{ 'COMMON.SYMPTOMS' | translate }}">
            <app-symptom-details [visit]="visit"></app-symptom-details>
          </p-tabPanel>

          <p-tabPanel header="{{ 'COMMON.HOME_MEDICATIONS' | translate }}" *ngIf="shouldShow"> </p-tabPanel>
        </p-tabView>
        <br/>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
          <button type="button" pButton icon="fa fa-close" (click)="delete()"
            label="{{ 'COMMON.DELETE' | translate }}"></button>&nbsp;&nbsp;
          <button pButton icon="fa fa-check" *ngIf="permitSave(visit.id, 'Add visit')"
             label="{{ 'COMMON.SAVE' | translate }}"></button>
        </div>
      </p-tabPanel>

      <p-tabPanel header="{{ 'COMMON.DOCTOR_ORDER_LIST' | translate }}" *ngIf="visit.id > 0 && permitView('VISIT_DOCTOR_ORDER')">
        <app-doctorOrder-details [visit]="visit" (doctorOrderSaveEvent)="onDoctorOrderSaved($event)">
        </app-doctorOrder-details> 
        <br/>
        <app-doctorOrder-list [visit]="visit" (doctorOrderIdEvent)="onDoctorOrderSelected($event)">
        </app-doctorOrder-list> 
      </p-tabPanel>
      <p-tabPanel header="{{'COMMON.SERVICE_LIST' | translate }}" *ngIf="visit && visit.id > 0 && permitView('VISIT_SERVICE')">
          <app-patientServiceDetails [visit]="visit"></app-patientServiceDetails>
      </p-tabPanel>
      <p-tabPanel header="{{ 'COMMON.DIAGNOSIS_LIST' | translate }}" *ngIf="visit.id > 0 && permitView('VISIT_DIAGNOSIS')">
        <app-admissionDiagnoses [visit]="visit"></app-admissionDiagnoses>
      </p-tabPanel>

      <p-tabPanel header="{{ 'COMMON.PRESCRIPTION_LIST' | translate }}" *ngIf="visit.id > 0 && permitView('VISIT_PRESCRIPTION')">
        <app-prescription-details [visit]="visit"></app-prescription-details> 
        <br/>
        <app-prescription-list [visit]="visit" (prescriptionIdEvent)="onPrescriptionSelected($event)">
        </app-prescription-list>
      </p-tabPanel>

      <p-tabPanel header="{{ 'COMMON.INVESTIGATION_LIST' | translate }}" *ngIf="visit.id > 0 && permitView('VISIT_INVESTIGATION')">
          <app-investigation-list [showActions]="false" [visit]="visit"></app-investigation-list>
      </p-tabPanel>
      
      <p-tabPanel header="{{ 'COMMON.PHARMACY' | translate }}" *ngIf="visit.id > 0 && permitView('VISIT_PHARMACY')">
          <app-patientMedicine-list [visit]="visit"></app-patientMedicine-list>
      </p-tabPanel>

      <p-tabPanel header="{{ 'COMMON.DISCHARGE' | translate }}" *ngIf="visit.id > 0 && permitView('VISIT_DISCHARGE')">
          <app-discharge-details [visit]="visit"></app-discharge-details>
      </p-tabPanel>
    </p-tabView>

    <br /> <br />
  </div>
</form>
