<p-table [columns]="cols" [value]="visits" [paginator]="true" [rows]="15" [responsive]="true">
  <ng-template pTemplate="caption">
	{{ 'COMMON.WAITING_LIST' | translate }}
  &nbsp;&nbsp; &nbsp;&nbsp;<p-checkbox [(ngModel)]="autorefresh" binary="true" label="Auto-refresh"></p-checkbox>
  
</ng-template>
  <ng-template pTemplate="colgroup" let-columns>
    <colgroup>
      <col *ngFor="let col of columns" [style.width]="col.width">
    </colgroup>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field">
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
      <th>Action</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td *ngFor="let col of columns">

        <div *ngIf="col.type == 'image'">
          <img src="assets/images/user/{{rowData[col.field]}}" alt="" style="width: 27px;" />
        </div>
        <div *ngIf="col.type != 'date' && col.type != 'image'">
          {{rowData[col.field]}}
        </div>
        <div *ngIf="col.type == 'date'">
          {{rowData[col.field]  | date:'hh:mm'}}
        </div>
      </td>
      <td>
        <button pButton icon="fa fa-close" (click)="updateStatus(rowData.id, 3)" *ngIf="permitSave(rowData.id,'Visit List')"
          label="{{ 'COMMON.CANCEL' | translate }}" class="ui-button-rounded ui-button-warning"  ></button>
        &nbsp;&nbsp;
        <button pButton icon="fa fa-check" (click)="updateStatus(rowData.id, 1)" *ngIf="permitSave(rowData.id,'Visit List')"
          label="{{ 'COMMON.END' | translate }}" class="ui-button-rounded" ></button>
 &nbsp;&nbsp;
		    <a [routerLink]="['/admin/visitDetails']" [queryParams]="{visitId:rowData.id}" *ngIf="permitView('Visit List')">
              <button pButton type="button" label="{{ 'COMMON.EDIT' | translate }}" class="ui-button-rounded" icon="pi pi-search" > </button>
             </a>
      </td>
    </tr>
  </ng-template>
</p-table>
