<div id="layout-right-sidebar" [ngClass]="{'layout-right-sidebar-active': app.rightPanelActive}"
  (click)="app.onRightPanelClick()">
  <p-scrollPanel #scrollRightPanel [style]="{height: '100%'}">
    <div class="right-panel-scroll-content">
      <p-tabView (onChange)="onTabChange($event)">
        <p-tabPanel leftIcon="fa fa-cog">
          <div class="submenu-title">
            <span>{{ 'COMMON.SHORTCUTS' | translate }}</span>
          </div>
          <div class="submenu-content settings">
            <ul>
              <li>
                <div class="visitors-settings ui-g-12">
                  <i class="fa fa-sign-out"></i>
                  <span><a href="/" (click)="logOut()">
                      {{ 'COMMON.LOGOUT' | translate }}
                    </a></span>
                </div>
              </li>
              <li>
                <div class="sales-settings ui-g-12">
                  <i class="fa fa-line-chart"></i>
                  <span><a href="#/admin/dashboard">
                      {{ 'COMMON.DASHBOARD' | translate }}
                    </a></span>
                </div>
              </li>
              <li>
                <div class="shipment-settings ui-g-12">
                  <i class="fa fa-wheelchair"></i>
                  <span><a href="#/admin/patientDetails">
                      Patients
                    </a></span>
                </div>
              </li>
              <li>
                <div class="visitors-settings ui-g-12">
                  <i class="fa fa-ambulance"></i>
                  <span><a href="#/admin/admissionDetails">
                      {{ 'COMMON.ADMISSION' | translate }}
                    </a></span>
                </div>
              </li>
              <li>
                <div class="history-settings ui-g-12">
                  <i class="fa fa-calendar"></i>
                  <span>
                    <a href="#/admin/appointmentScheduler">
                      {{ 'COMMON.SCHEDULE' | translate }}
                    </a> </span>

                </div>
              </li>
              <li>
                <div class="leads-settings ui-g-12">
                  <i class="fa fa-money"></i>
                  <span><a href="#/admin/billDetails">
                      {{ 'COMMON.BILLING' | translate }}
                    </a></span>
                </div>
              </li>
            </ul>
          </div>
        </p-tabPanel>
        <p-tabPanel leftIcon="fa fa-list-ol">
          <div class="submenu-title">
            <span>{{ 'COMMON.WAITING_LIST' | translate }}</span>
          </div>
          <div class="submenu-content messages">
            <ul>
              <li *ngFor="let visit of visits">
                <div>
                  <a [routerLink]="['/admin/adminPatient']" [queryParams]="{patientId:visit.patient.id}"
                    (click)="setPatientId(visit.patient.id,(visit.appointment?visit.appointment.id:0))">
                    <img src="assets/images/user/{{visit.patient.user.picture}}" alt="" />
                    <span class="time-stamp">{{visit.id}}</span>
                  </a>
                </div>
                <span class="messager-name">
                  <a [routerLink]="['/admin/adminPatient']" [queryParams]="{patientId:visit.patient.id}"
                    (click)="setPatientId(visit.patient.id,(visit.appointment?visit.appointment.id:0))">
                    {{visit.patient.name}}
                  </a>
                </span>
                <span class="message-text">
                  <a [routerLink]="['/admin/visitDetails']" [queryParams]="{visitId:visit.id}">
                    {{'COMMON.ARRIVAL_TIME' | translate }} : {{visit.visitDatetime|date:'hh:mm'}}
                    <br />{{'COMMON.APPOINTMENT' | translate }} : {{visit.appointment?visit.appointment.beginTime:'-'}}
                  </a>
                </span>
                <div class="ui-grid-row">
                  <div class="ui-grid-col-6 ui-sm-6">
					<button type="button" pButton icon="fa fa-close" (click)="cancelVisit(visit.id)"
					class="ui-button-rounded ui-button-warning"
                      label="{{ 'COMMON.CANCEL' | translate }}"></button>&nbsp;
                  </div>
                  <div class="ui-grid-col-6 ui-sm-6">
					<button pButton icon="fa fa-check" (click)="endVisit(visit.id)"
					class="ui-button-rounded"
                      label="{{ 'COMMON.END' | translate }}"></button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </p-tabPanel>
        <p-tabPanel leftIcon="fa fa-calendar">
          <div class="submenu-title">
            <span>{{ 'COMMON.APPOINTMENT' | translate }}</span>
          </div>
          <div class="submenu-content events">
            <ul>
              <li *ngFor="let event of events">
                <a [routerLink]="['/admin/adminPatient']" [queryParams]="{patientId:event.patientId}"
                  (click)="setPatientId(event.patientId,event.id)">
                  <div class="calendar-event-date" style="height: 72px">
                    <span class="date">{{event.start}}</span>
                    <span class="date">{{event.end}}</span>
                  </div>
                </a>
                <div class="calendar-event-detail">
                  <span class="calendar-event-title">
                    <a [routerLink]="['/admin/adminPatient']" [queryParams]="{patientId:event.patientId}"
                      (click)="setPatientId(event.patientId,event.id)">
                      {{event.title}}
                    </a>
                  </span>
                  <i class="material-icons  fa fa-phone"></i>
                  <span class="calendar-event-location">{{event.phone}}</span>
                  <br /><i class="material-icons  fa fa-user-md"></i>
                  <span class="calendar-event-location">
                    <a [routerLink]="['/admin/employeeDetails']" [queryParams]="{employeeId:event.employeeId}">
                      {{event.designation +' '+event.docLastName}}
                    </a>
                  </span>
                </div>
                <div class="ui-grid-row">
                  <div class="ui-grid-col-6 ui-sm-6">
					<button type="button" pButton icon="fa fa-close" (click)="cancel(event.id)"
					class="ui-button-rounded ui-button-warning"
                      label="{{ 'COMMON.CANCEL' | translate }}"></button>&nbsp;
                  </div>
                  <div class="ui-grid-col-6 ui-sm-6">
					<button pButton icon="fa fa-check" (click)="confirm(event.id)"
					class="ui-button-rounded"
                      label="{{ 'COMMON.CONFIRM' | translate }}"></button>

                  </div>
                </div>
              </li>

            </ul>
          </div>
        </p-tabPanel>
      </p-tabView>
    </div>
  </p-scrollPanel>
</div>
