<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
<div class="ui-g-12 ui-sm-12" style="padding: 15px;">
	<p-messages [(value)]="messages"></p-messages>
	<p-table [columns]="cols" [value]="resources">
		<ng-template pTemplate="caption">
			{{ 'COMMON.RESOURCE_LIST' | translate }}
		</ng-template>
		<ng-template pTemplate="header" let-columns>
			<tr>
			<th *ngFor="let col of columns" [pSortableColumn]="col.field" [ngStyle]="col.style">
				{{col.header}}
				<p-sortIcon [field]="col.field"></p-sortIcon>
			</th>
			<th>Action</th>
			</tr>
		</ng-template>
		<ng-template pTemplate="body" let-rowData let-columns="columns">
			<tr>
			<td *ngFor="let col of columns">
				{{rowData[col.field]}}
			</td>
			<td>
				<button type="button" pButton icon="fa fa-plus" *ngIf="sourcePage === 'permission' && permitSave('SECURITY_PERMISSION')" (click)="assignToRole(rowData)"></button>
				<button type="button" pButton icon="fa fa-edit" *ngIf="sourcePage === '' && permitView('SECURITY_CONFIG_RESOURCES')" (click)="edit(rowData.id)"></button>&nbsp;&nbsp;
				<button type="button" pButton icon="fa fa-eraser" *ngIf="sourcePage === '' && permitDelete('SECURITY_CONFIG_RESOURCES')" (click)="deleteItem(resources, rowData.id, 'com.qkcare.model.authorization.Resource')"></button>
			</td>
			</tr>
		</ng-template>
	</p-table>
</div>